@font-face {
  font-family: 'GothamRounded-Medium';
  src: url('../fonts/GothamRounded-Medium.woff2') format('woff2'),
       url('../fonts/GothamRounded-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRounded-Book';
  src: url('../fonts/GothamRounded-Book.woff2') format('woff2'),
       url('../fonts/GothamRounded-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRounded-BookItalic';
  src: url('../fonts/GothamRounded-BookItalic.woff2') format('woff2'),
       url('../fonts/GothamRounded-BookItalic.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRounded-Bold';
  src: url('../fonts/GothamRounded-Bold.woff2') format('woff2'),
       url('../fonts/GothamRounded-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



